[project]
name = 'Natural-gas-pipeline-integrity-monitoring'
description = ''
authors = []
telemetry = false
cache_dir = './.cache'
requirements = []
[contracts.pipeline-integrity-monitor]
path = 'contracts/pipeline-integrity-monitor.clar'
clarity_version = 2
epoch = 2.5
[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
